/* Reset CSS pour réinitialiser les styles par défaut */
body, h1, form, input, button {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#search-results {
  text-align: left;
}

/* Règles de média requises pour le design réactif */
@media screen and (max-width: 600px) {
  .container {
    max-width: 100%;
    padding: 10px;
  }

  input[type="text"] {
    width: 100%;
  }
}
